/* CSS CODING */


/* PART 1 CSS AND HTML

h1{
  color: Blue;
}

li{
  color: rgb(245,66,191);
}

p{
  color: #f5426f;
}

h4{
  color: rgba(255, 97, 0, 0.6);
}

body{
  background: url(https://images.nationalgeographic.org/image/upload/t_edhub_resource_key_image/v1638889927/EducationHub/photos/pebble-beach.jpg);
}

div{
  background: skyblue;
  border-color: orange;
  border-width: 4px;
  border-style: double;
}

span{
  background: red;
  color: black;
}

END OF PART 1 CSS AND HTML*/























/*Background and colunms */
